doctype html
html
  head




    title="Express Starter App"
    link(rel='stylesheet' href='/stylesheets/styles.css')
    //- add page specific styles by appending to the head
    link(rel="stylesheet" href="/stylesheets/index.css")
    //- add page specific js
    script(src="/javascripts/index.js" type="module" defer)

  body
    nav
      h2(class="logo")
      img(src='/logo.png' , alt='some image' class="headerimg")
      //- img(src="/logo.png")
      ul(class="nav_links")
        li: a(class="aTag" href="/") Home
        if locals.authenticated
          li: a(class="aTag" href=`/catchlists/${user.id}`) My Pokémon
        else
          li: a(class="aTag" href="/users/login") My Pokémon
        li: a(class="aTag" href="/pokemons") All Pokémon
      if locals.authenticated
        div(class="right-head")
          h2(class="welcome") Welcome #{user.username}
          form(action="/users/logout" method='post')
            button(class="homeButton grow" id='logout' type='submit') Logout
      else
        div(class="right-head")
          form(action='/users/demouser' method='post')
            button(class="homeButton grow" id="demo" type='submit') Demo User
          a(class="aTag" href="/users/login") Login
          a(class="aTag" href="/users/signup") Sign Up
    block content
