doctype html
html
  head
    title="PokéFlex"
    link(rel='stylesheet' href='/stylesheets/styles.css')

    <meta name="title" property="og:title" content="PokéFlex">
    <meta property="og:type" content="Website">
    <meta name="image" property="og:image" content="https://res.cloudinary.com/jameschenn/image/upload/v1653502692/Nonogram/nonogramm_ewwihs.png">
    <meta name="description" property="og:description" content="PokéFlex is a Goodreads clone, a social cataloging application website utilizing a list-like system to help trainers from different regions of the world organize and review Pokémon to help them catch em all!">
    <meta name="author" content="James Chen">

    //- Icons :)
    <script src="https://kit.fontawesome.com/bd487381c4.js" crossorigin="anonymous"></script>
    //- Fonts
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap" rel="stylesheet">
    //- add page specific styles by appending to the head
    link(rel="stylesheet" href="/stylesheets/index.css")
    //- add page specific js
    script(src="/javascripts/index.js" type="module" defer)
    script(src="/javascripts/delete-catchlist.js" type="module" defer)
  body
    nav
      h2(class="logo")
      img(src='/logo.png' , alt='some image' class="headerimg")
      //- img(src="/logo.png")
      ul(class="nav_links")
        li: a(class="aTag" href="/") Home
        if locals.authenticated
          li: a(class="aTag" href=`/catchlists/${user.id}`) My Pokémon
        else
          li: a(class="aTag" href="/users/login") My Pokémon
        li: a(class="aTag" href="/pokemons") All Pokémon
      if locals.authenticated
        div(class="right-head")
          h2(class="welcome") Welcome #{user.username}
          form(action="/users/logout" method='post')
            button(class="homeButton grow" id='logout' type='submit') Logout
      else
        div(class="right-head")
          form(action='/users/demouser' method='post')
            button(class="homeButton grow" id="demo" type='submit') Demo User
          a(class="aTag" href="/users/login") Login
          a(class="aTag" href="/users/signup") Sign Up
    block content
