extends layout.pug

block content
    h2(id='profileName')= user.username
    div Catch Lists
        a(class='aTag') Want To Catch
        a(class='aTag') Trying To Catch
        a(class='aTag') Have Caught
