body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a, ol, li, ul, div, span,
body, header, nav {
  font-size: 1rem;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

/* h2 {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.div-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(68, 170, 165);
  margin: 20px 620px;
  padding: 50px;
  /* box-shadow: 10px 5px 4px rgb(148, 142, 142); */
  border-radius: 10px;
  background-image: linear-gradient(to right, #11998E   , #38EF7D);
}

.div-form-item {
  padding: 10px;

}

.div-form-item > button{
  background-color: #20ad13;
  margin-top: 10px;
}
.div-form > form {
  display: flex;
  flex-direction: column;
}

#loginButton {
  margin: 10px;
  background-color: #20ad13;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 1px 2px 1px rgba(0, 0, 255, .2);
  font-weight: bold;
  color: white;
}

button:hover {
  cursor: pointer;
}

.errorMsg {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}

#signUp {
  margin: 10px;
  background-color: #20ad13;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 1px 2px 1px rgba(0, 0, 255, .2);
  font-weight: bold;
  color: white;
}

.aTag {
  display: flex;
  text-decoration: none;
  padding: 10px;
  font-size: 15px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.bTag{
  display: inline;
  align-items: center;
  position: absolute;
  box-shadow: inset 0 0 0 25px yellow;
  border-radius: 10px;
  text-decoration: none;
  font-size: 20px;
  /* margin: 20px 620px;*/
  left: 30%;
  padding: 5px;
  /* margin-left: 439px; */
}

li:not(:last-child) {
    border-right:solid 1px rgb(211, 0, 0);
}

.homeButton {
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
}

#logout {
  background-color: darkred;
  font-weight: bold;
  color: white;
}


#demo {
  background-color: yellow;
  color: black;
}


.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}


.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform:uppercase;

}

input {
  border: none;
  border-radius: 7px;

}


.uppercase{
  text-transform: capitalize;
}

/* Nav Bar */
nav {
  background-color: #ED2939;
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0;
  outline: 0;
  height: 60px;
}

.nav_links {
  display: flex;
  padding-left: 30px;
  /* justify-content: space-between; */
  align-items: center;
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;

}

/* .logo {
  font-weight: bold;
  font-size: 40px;
  margin-left: 30px;
} */

.welcome {
  font-weight: 500;
  font-size: 24px;
  margin-right: 20px;
  font-family: 'Montserrat', sans-serif;
}

.right-head {
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  right: 20px;
}

/* Pokemon Cards */

.card{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 25px;
  border: 20px;
  padding: 20px;
  float: left;

  border-radius: 18px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}


.catchlists{
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  /* box-shadow: inset 0 0 0 25px green; */
  /* margin-left: 750px;
  margin-right: 750px;
  border-radius: 10px;
  text-decoration: none;
  background-image: linear-gradient(to right, #11998E   , #38EF7D); */
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  background-color: rgb(68, 170, 165);
  margin: 20px 620px;
  padding: 5px;
  /* box-shadow: 10px 5px 4px rgb(148, 142, 142); */
  border-radius: 10px;
  background-image: linear-gradient(to right, #80ff72 ,#7ee8fa);
  text-decoration: none;
  font-size: 30px;
  font-style: oblique;
  margin-left: 20px;
  margin-top: 100px;
}

/* .catchlists:hover{
  box-shadow: inset 0 0 0 25px green;
  margin-left: 750px;
  margin-right: 750px;
  border-radius: 10px;
} */






.card-text {
  text-align: center;
  margin-top: 25px;
}

.page-links a:hover:not(.active) {
  background-color: gray;
}


.page-links{
  /* position: absolute;
  z-index: 9999;
  /* display: block; */
  /* width: 100%; */
  /* padding: 10px;
  right: 20px; */
  /* margin-top: 15px;
  padding-top:10px;
  margin-left: 1445px; */
   /* width:100%;
  z-index:100; */
  list-style-type: none;
  position:fixed;
  float: right;
  right: 0;
  padding: 50px;
  color:black;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #D9FEF7;
  margin-top: 10px;
}

/* Footer */
footer {
  background-color: red;
  display: flex;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 80px;
}

footer h3 {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

footer li {
  list-style-type: none;
  margin-top: 4px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

footer p {
  margin-top: 80px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.column {
  width: 25%;
  float: left;
  padding: 20px;
  margin-left: 25px;
}

.right {
  margin-left: 800px;
}

.socials {
  margin-left: 11px;
}

.drop-down  {
  display: inline-block;
  position: relative;
  background-color: #20ad13;
  border-radius: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

option {
  border-radius: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}



.deleteBtn{
  border-radius: 10px;
  background-color: red;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}


/* .mainTitle{
  background-image: url("https://www.freepnglogos.com/uploads/pokemon-logo-png-0.png");
} */



.headerimg{
  margin-top: 30px;
  margin-bottom: 30px;
  width: 150px;
  margin-left: 10px;
}


#homecards{
  justify-content:space-evenly;
  align-items: center;
  flex-direction: row;
  display: flex;
  float:left;
  width:450px;
}


.pokedex{
  /* display: block;
  position: relative;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  margin-top: 470px; */
  position:absolute;
  top:10px;
  right: 10px;
  margin-top: 80px;
}


.oak{
  width: 385px;
  height: 400px;
  margin-left: 127px;
  position: fixed;
  right: 0px; bottom: 0px;
  padding: 5px;
}



.deleteListBtn{
  border-radius: 10px;
  background-color: red;
}


.about-content{
  font-size: 18px;
  text-decoration: none;
  padding: 20px;
  background-color: #D9FEF7;
  flex-wrap: wrap;
  display: flex;
  border-radius: 20px;
  font-weight: lighter;
  /* right:0; */
  width: 1060px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
